{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "requirePragma": true,
  "endOfLine": "auto"
}